/* ---General--- */
* {
    margin: 0;
    padding: 0;
}

body, textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #05850e;
}


/* ---HEADER--- */
header {
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 2px grey;
    z-index: 100;
}

.head-nav a {
    margin-left: 10px;
}

.head-nav a:hover {
    color: #000;
    transition: 0.5s ease-in-out;
}


/* ---MAIN--- */
main section {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.container {
    box-sizing: border-box;
    padding: 50px;
}

/* to all 'headers' of sections and footer*/
section > h2, footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a2ed84;
    color: #05850e;
}


/*---Welcome-bg section---*/
#welcome-bg {
    width: 100%;
    background: url("../img/welcome-bg.jpg") no-repeat 50% 50%; 
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome-bg h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#welcome-bg strong {
    color: #a2ed84;
}

.divide-line {
    min-height: 15px;
    background-color: #a2ed84;
}

/*---About section---*/
#about-section, #how-section, #lifehacks {
    clear: both;
}


#about-what-img {
    background: url("../img/pollution.jpg") no-repeat 50% 50%;
}


/*---How section---*/
.how-element {
    box-sizing: border-box;
}

div .fa {
    font-size: 36px;
    float: left;
    color: #05850e;
}

.how-article {
    margin-left: 50px;
}


/*---Lifehacks section---*/
#trash-sort-photo {
    background: url("../img/trash-separation.jpg") no-repeat 50% 50%;
}

#recycle-map {
    padding: 0;
}
    #recycle-map iframe {
    border: 0;
    padding: 0;
}

/*---feedback section---*/
#feedback {
    clear: both;
}

#feedback div {
    display: flex;
    justify-content: center;
    padding: 40px;
}

#feedback p {
    margin: 10px;
}


.feed-input {
    border: 2px solid #05850e;
    border-radius: 2px;
    padding: 8px;
    min-width: 200px;
    box-sizing: border-box;
    text-align: center;
}

button.feed-input:hover {
    background-color: #a2ed84;
    cursor: pointer;
}

/*---FOOTER---*/
